.table-row-element {
    outline: none;
    border: 1px solid cyan;
    height: 2vw;
    width: 15vw;
    float: left;
    margin-right: 3vw;
    box-shadow: 0 0 10px cyan;
    padding: 5px;
    border-radius: 3px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
}


.save-button {
    outline: none;
    width: 5vw;
    height: 2vw;
    background: rgb(59, 241, 59);
    border-radius: 3px;
    border: none;
}