.user-table {
    position: relative;
    padding-bottom: 7vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px 0px;
    height:50px;
    text-align: center;

}

.table-header-element {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid cyan;
    height: 2vw;
    width: 15vw;
    float: left;
    margin-right: 0.234375vw;
    box-shadow: 0 0 10px cyan;
    padding: 0.390625vw;
    border-radius: 0.234375vw;
    font-size: 1vw;
}

.table-id {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3vw;
    height: 2vw;
    border: 1px solid cyan;
    float: left;
    margin-right: 0.234375vw;
    box-shadow: 0 0 10px cyan;
    padding: 0.390625vw;
    border-radius: 0.234375vw;
    font-size: 1vw;
}

.add-button {
    outline: none;
    width: 8vw;
    height: 2vw;
    background: rgb(59, 241, 59);
    border-radius: 0.234375vw;
    border: none;
    margin-left: 0.390625vw;
    font-size: 1vw;
}

.edit-button {
    outline: none;
    width: 10vw;
    height: 2vw;
    background: rgb(21, 40, 216);
    border-radius: 0.234375vw;
    border: none;
    margin-left: 0.390625vw;
    font-size: 1vw;
}

.delete-button {
    outline: none;
    width: 8vw;
    height: 2vw;
    background: rgb(238, 31, 76);
    border-radius: 0.234375vw;
    border: none;
    margin-left: 0.390625vw;
    font-size: 1vw;
}